<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".App"
        tools:replace="android:name">

        <receiver android:name="de.davis.passwordmanager.updater.installer.InstallBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="de.davis.passwordmanager.action.INSTALL"/>
            </intent-filter>
        </receiver>

        <service android:name="de.davis.passwordmanager.updater.downloader.DownloadService"/>
    </application>

</manifest>