<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".presentation.activity.CreatePasskeyActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            tools:targetApi="upside_down_cake">

            <intent-filter>
                <action android:name="de.davis.keygo.feature.credentials.action.CREATE_PASSKEY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".presentation.KeyGoCredentialProviderService"
            android:enabled="true"
            android:exported="true"
            android:label="KeyGo Credential Provider"
            android:permission="android.permission.BIND_CREDENTIAL_PROVIDER_SERVICE"
            tools:targetApi="upside_down_cake">
            <intent-filter>
                <action android:name="android.service.credentials.CredentialProviderService" />
            </intent-filter>
            <meta-data
                android:name="android.credentials.provider"
                android:resource="@xml/keygo_credential_provider" />
        </service>
    </application>
</manifest>