<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <provider android:authorities="com.android.chrome.AutofillThirdPartyModeContentProvider" />
    </queries>

    <application>
        <service
            android:name=".presentation.KeyGoAutofillService"
            android:exported="true"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE">
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/keygo_autofill_service" />
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.activity.AutofillActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.KeyGo.Transparent" />
    </application>
</manifest>